# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/page_repository/node_modules
/page_repository/.pnp
/page_repository/.pnp.js

# testing
/page_repository/coverage

# next.js
# /page_repository/.next/
/page_repository/out/

# production
/page_repository/build

# misc
/page_repository/.DS_Store
/page_repository/*.pem

# debug
/page_repository/npm-debug.log*
/page_repository/yarn-debug.log*
/page_repository/yarn-error.log*

# local env files
/page_repository/.env.local
/page_repository/.env.development.local
/page_repository/.env.test.local
/page_repository/.env.production.local

# vercel
/page_repository/.vercel

# typescript
/page_repository/*.tsbuildinfo
