@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    line-height: 1.5;
    font-family: var(--luke2327-fonts-body);
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    touch-action: manipulation;
    padding: 0;
    margin: 0;
}

* {
    word-wrap: break-word;
    border-width: 0;
    border-style: solid;
    box-sizing: border-box;
    border-color: var(--luke2327-colors-gray-200);
    transition-property: var(--luke2327-transition-property-common);
    transition-duration: var(--luke2327-transition-duration-fast);
    transition-timing-function: var(--luke2327-transition-easing-ease-out);
}

body, blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
    margin: 0;
}

html, body {
    font-size: var(--luke2327-fontSizes-md);
}

img, video {
    max-width: 100%;
    height: auto;
}

img, svg, video, canvas, audio, iframe, embed, object {
    display: block;
}

img {
    border-style: none;
}

.theme-toggle {
    background: none;
    border: none;
    padding: 0;
    inline-size: var(--luke2327-sizes-8);
    block-size: var(--luke2327-sizes-8);
    aspect-ratio: 1;
    border-radius: 50%;
    cursor: pointer;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
    outline-offset: 5px;
}

.theme-toggle > img {
    inline-size: 100%;
    block-size: 100%;
    stroke-linecap: round;
    animation: fadeIn .3s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
