:root {
    --luke2327-colors-transparent: transparent;
    --luke2327-colors-current: currentColor;
    --luke2327-colors-black-50: #404040;
    --luke2327-colors-black-100: #333;
    --luke2327-colors-black-200: #262626;
    --luke2327-colors-black-300: #1a1a1a;
    --luke2327-colors-black-400: #0d0d0d;
    --luke2327-colors-black-500: #000;
    --luke2327-colors-black-600: #000;
    --luke2327-colors-black-700: #000;
    --luke2327-colors-black-800: #000;
    --luke2327-colors-black-900: #000;
    --luke2327-colors-white-50: #fff;
    --luke2327-colors-white-100: #fff;
    --luke2327-colors-white-200: #fff;
    --luke2327-colors-white-300: #fff;
    --luke2327-colors-white-400: #fff;
    --luke2327-colors-white-500: #fff;
    --luke2327-colors-white-600: #f2f2f2;
    --luke2327-colors-white-700: #e6e6e6;
    --luke2327-colors-white-800: #d9d9d9;
    --luke2327-colors-white-900: #ccc;
    --luke2327-colors-gray-50: #F7FAFC;
    --luke2327-colors-gray-100: #EDF2F7;
    --luke2327-colors-gray-200: #E2E8F0;
    --luke2327-colors-gray-300: #CBD5E0;
    --luke2327-colors-gray-400: #A0AEC0;
    --luke2327-colors-gray-500: #718096;
    --luke2327-colors-gray-600: #4A5568;
    --luke2327-colors-gray-700: #2D3748;
    --luke2327-colors-gray-800: #1A202C;
    --luke2327-colors-gray-900: #171923;
    --luke2327-colors-red-50: #FFF5F5;
    --luke2327-colors-red-100: #FED7D7;
    --luke2327-colors-red-200: #FEB2B2;
    --luke2327-colors-red-300: #FC8181;
    --luke2327-colors-red-400: #F56565;
    --luke2327-colors-red-500: #E53E3E;
    --luke2327-colors-red-600: #C53030;
    --luke2327-colors-red-700: #9B2C2C;
    --luke2327-colors-red-800: #822727;
    --luke2327-colors-red-900: #63171B;
    --luke2327-colors-orange-50: #FFFAF0;
    --luke2327-colors-orange-100: #FEEBC8;
    --luke2327-colors-orange-200: #FBD38D;
    --luke2327-colors-orange-300: #F6AD55;
    --luke2327-colors-orange-400: #ED8936;
    --luke2327-colors-orange-500: #DD6B20;
    --luke2327-colors-orange-600: #C05621;
    --luke2327-colors-orange-700: #9C4221;
    --luke2327-colors-orange-800: #7B341E;
    --luke2327-colors-orange-900: #652B19;
    --luke2327-colors-yellow-50: #FFFFF0;
    --luke2327-colors-yellow-100: #FEFCBF;
    --luke2327-colors-yellow-200: #FAF089;
    --luke2327-colors-yellow-300: #F6E05E;
    --luke2327-colors-yellow-400: #ECC94B;
    --luke2327-colors-yellow-500: #D69E2E;
    --luke2327-colors-yellow-600: #B7791F;
    --luke2327-colors-yellow-700: #975A16;
    --luke2327-colors-yellow-800: #744210;
    --luke2327-colors-yellow-900: #5F370E;
    --luke2327-colors-green-50: #F0FFF4;
    --luke2327-colors-green-100: #C6F6D5;
    --luke2327-colors-green-200: #9AE6B4;
    --luke2327-colors-green-300: #68D391;
    --luke2327-colors-green-400: #48BB78;
    --luke2327-colors-green-500: #38A169;
    --luke2327-colors-green-600: #2F855A;
    --luke2327-colors-green-700: #276749;
    --luke2327-colors-green-800: #22543D;
    --luke2327-colors-green-900: #1C4532;
    --luke2327-colors-teal-50: #E6FFFA;
    --luke2327-colors-teal-100: #B2F5EA;
    --luke2327-colors-teal-200: #81E6D9;
    --luke2327-colors-teal-300: #4FD1C5;
    --luke2327-colors-teal-400: #38B2AC;
    --luke2327-colors-teal-500: #319795;
    --luke2327-colors-teal-600: #2C7A7B;
    --luke2327-colors-teal-700: #285E61;
    --luke2327-colors-teal-800: #234E52;
    --luke2327-colors-teal-900: #1D4044;
    --luke2327-colors-blue-50: #a4c8f7;
    --luke2327-colors-blue-100: #8db9f5;
    --luke2327-colors-blue-200: #75abf3;
    --luke2327-colors-blue-300: #5e9df1;
    --luke2327-colors-blue-400: #468eef;
    --luke2327-colors-blue-500: #2F80ED;
    --luke2327-colors-blue-600: #1872eb;
    --luke2327-colors-blue-700: #1366d6;
    --luke2327-colors-blue-800: #115bbf;
    --luke2327-colors-blue-900: #0e50a8;
    --luke2327-colors-cyan-50: #EDFDFD;
    --luke2327-colors-cyan-100: #C4F1F9;
    --luke2327-colors-cyan-200: #9DECF9;
    --luke2327-colors-cyan-300: #76E4F7;
    --luke2327-colors-cyan-400: #0BC5EA;
    --luke2327-colors-cyan-500: #00B5D8;
    --luke2327-colors-cyan-600: #00A3C4;
    --luke2327-colors-cyan-700: #0987A0;
    --luke2327-colors-cyan-800: #086F83;
    --luke2327-colors-cyan-900: #065666;
    --luke2327-colors-purple-50: #d9bdf3;
    --luke2327-colors-purple-100: #cda8ef;
    --luke2327-colors-purple-200: #c092ec;
    --luke2327-colors-purple-300: #b47ce8;
    --luke2327-colors-purple-400: #a767e4;
    --luke2327-colors-purple-500: #9b51e0;
    --luke2327-colors-purple-600: #8f3bdc;
    --luke2327-colors-purple-700: #8226d8;
    --luke2327-colors-purple-800: #7523c2;
    --luke2327-colors-purple-900: #681fac;
    --luke2327-colors-pink-50: #fff;
    --luke2327-colors-pink-100: #ffecfa;
    --luke2327-colors-pink-200: #ffd3f2;
    --luke2327-colors-pink-300: #ffb9eb;
    --luke2327-colors-pink-400: #ffa0e4;
    --luke2327-colors-pink-500: #ff86dd;
    --luke2327-colors-pink-600: #ff6cd6;
    --luke2327-colors-pink-700: #ff53cf;
    --luke2327-colors-pink-800: #ff39c8;
    --luke2327-colors-pink-900: #ff20c0;
    --luke2327-colors-linkedin-50: #E8F4F9;
    --luke2327-colors-linkedin-100: #CFEDFB;
    --luke2327-colors-linkedin-200: #9BDAF3;
    --luke2327-colors-linkedin-300: #68C7EC;
    --luke2327-colors-linkedin-400: #34B3E4;
    --luke2327-colors-linkedin-500: #00A0DC;
    --luke2327-colors-linkedin-600: #008CC9;
    --luke2327-colors-linkedin-700: #0077B5;
    --luke2327-colors-linkedin-800: #005E93;
    --luke2327-colors-linkedin-900: #004471;
    --luke2327-colors-facebook-50: #E8F4F9;
    --luke2327-colors-facebook-100: #D9DEE9;
    --luke2327-colors-facebook-200: #B7C2DA;
    --luke2327-colors-facebook-300: #6482C0;
    --luke2327-colors-facebook-400: #4267B2;
    --luke2327-colors-facebook-500: #385898;
    --luke2327-colors-facebook-600: #314E89;
    --luke2327-colors-facebook-700: #29487D;
    --luke2327-colors-facebook-800: #223B67;
    --luke2327-colors-facebook-900: #1E355B;
    --luke2327-colors-messenger-50: #D0E6FF;
    --luke2327-colors-messenger-100: #B9DAFF;
    --luke2327-colors-messenger-200: #A2CDFF;
    --luke2327-colors-messenger-300: #7AB8FF;
    --luke2327-colors-messenger-400: #2E90FF;
    --luke2327-colors-messenger-500: #0078FF;
    --luke2327-colors-messenger-600: #0063D1;
    --luke2327-colors-messenger-700: #0052AC;
    --luke2327-colors-messenger-800: #003C7E;
    --luke2327-colors-messenger-900: #002C5C;
    --luke2327-colors-whatsapp-50: #dffeec;
    --luke2327-colors-whatsapp-100: #b9f5d0;
    --luke2327-colors-whatsapp-200: #90edb3;
    --luke2327-colors-whatsapp-300: #65e495;
    --luke2327-colors-whatsapp-400: #3cdd78;
    --luke2327-colors-whatsapp-500: #22c35e;
    --luke2327-colors-whatsapp-600: #179848;
    --luke2327-colors-whatsapp-700: #0c6c33;
    --luke2327-colors-whatsapp-800: #01421c;
    --luke2327-colors-whatsapp-900: #001803;
    --luke2327-colors-twitter-50: #E5F4FD;
    --luke2327-colors-twitter-100: #C8E9FB;
    --luke2327-colors-twitter-200: #A8DCFA;
    --luke2327-colors-twitter-300: #83CDF7;
    --luke2327-colors-twitter-400: #57BBF5;
    --luke2327-colors-twitter-500: #1DA1F2;
    --luke2327-colors-twitter-600: #1A94DA;
    --luke2327-colors-twitter-700: #1681BF;
    --luke2327-colors-twitter-800: #136B9E;
    --luke2327-colors-twitter-900: #0D4D71;
    --luke2327-colors-telegram-50: #E3F2F9;
    --luke2327-colors-telegram-100: #C5E4F3;
    --luke2327-colors-telegram-200: #A2D4EC;
    --luke2327-colors-telegram-300: #7AC1E4;
    --luke2327-colors-telegram-400: #47A9DA;
    --luke2327-colors-telegram-500: #0088CC;
    --luke2327-colors-telegram-600: #007AB8;
    --luke2327-colors-telegram-700: #006BA1;
    --luke2327-colors-telegram-800: #005885;
    --luke2327-colors-telegram-900: #003F5E;
    --luke2327-colors-whiteAlpha-50: rgba(255, 255, 255, 0.04);
    --luke2327-colors-whiteAlpha-100: rgba(255, 255, 255, 0.06);
    --luke2327-colors-whiteAlpha-200: rgba(255, 255, 255, 0.08);
    --luke2327-colors-whiteAlpha-300: rgba(255, 255, 255, 0.16);
    --luke2327-colors-whiteAlpha-400: rgba(255, 255, 255, 0.24);
    --luke2327-colors-whiteAlpha-500: rgba(255, 255, 255, 0.36);
    --luke2327-colors-whiteAlpha-600: rgba(255, 255, 255, 0.48);
    --luke2327-colors-whiteAlpha-700: rgba(255, 255, 255, 0.64);
    --luke2327-colors-whiteAlpha-800: rgba(255, 255, 255, 0.80);
    --luke2327-colors-whiteAlpha-900: rgba(255, 255, 255, 0.92);
    --luke2327-colors-blackAlpha-50: rgba(0, 0, 0, 0.04);
    --luke2327-colors-blackAlpha-100: rgba(0, 0, 0, 0.06);
    --luke2327-colors-blackAlpha-200: rgba(0, 0, 0, 0.08);
    --luke2327-colors-blackAlpha-300: rgba(0, 0, 0, 0.16);
    --luke2327-colors-blackAlpha-400: rgba(0, 0, 0, 0.24);
    --luke2327-colors-blackAlpha-500: rgba(0, 0, 0, 0.36);
    --luke2327-colors-blackAlpha-600: rgba(0, 0, 0, 0.48);
    --luke2327-colors-blackAlpha-700: rgba(0, 0, 0, 0.64);
    --luke2327-colors-blackAlpha-800: rgba(0, 0, 0, 0.80);
    --luke2327-colors-blackAlpha-900: rgba(0, 0, 0, 0.92);
    --luke2327-fonts-heading: 'SF Pro','Inter',-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    --luke2327-fonts-body: 'SF Pro','Inter',-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    --luke2327-fonts-mono: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --luke2327-fontSizes-xs: 0.75rem;
    --luke2327-fontSizes-sm: clamp(10px, calc(10.00px + 0.00vw), 10px);
    --luke2327-fontSizes-md: clamp(14px, calc(14.00px + 0.00vw), 14px);
    --luke2327-fontSizes-lg: clamp(18px, calc(3.71px + 3.81vw), 22px);
    --luke2327-fontSizes-xl: 1.25rem;
    --luke2327-fontSizes-xs: 0.75rem;
    -webkit---luke2327-fontSizes-2xl: 1.5rem;
    --luke2327-fontSizes-2xl: 1.5rem;
    -webkit---luke2327-fontSizes-3xl: 1.875rem;
    --luke2327-fontSizes-3xl: 1.875rem;
    -webkit---luke2327-fontSizes-4xl: 2.25rem;
    --luke2327-fontSizes-4xl: 2.25rem;
    -webkit---luke2327-fontSizes-5xl: 3rem;
    --luke2327-fontSizes-5xl: 3rem;
    -webkit---luke2327-fontSizes-6xl: 3.75rem;
    --luke2327-fontSizes-6xl: 3.75rem;
    -webkit---luke2327-fontSizes-7xl: 4.5rem;
    --luke2327-fontSizes-7xl: 4.5rem;
    -webkit---luke2327-fontSizes-8xl: 6rem;
    --luke2327-fontSizes-8xl: 6rem;
    -webkit---luke2327-fontSizes-9xl: 8rem;
    --luke2327-fontSizes-9xl: 8rem;
    --luke2327-fontWeights-hairline: 100;
    --luke2327-fontWeights-thin: 200;
    --luke2327-fontWeights-light: 300;
    --luke2327-fontWeights-normal: 400;
    --luke2327-fontWeights-medium: 500;
    --luke2327-fontWeights-semibold: 600;
    --luke2327-fontWeights-bold: 700;
    --luke2327-fontWeights-extrabold: 800;
    --luke2327-fontWeights-black: 900;
    --luke2327-letterSpacings-tighter: -0.05em;
    --luke2327-letterSpacings-tight: -0.005em;
    --luke2327-letterSpacings-normal: 0;
    --luke2327-letterSpacings-wide: 0.005em;
    --luke2327-letterSpacings-wider: 0.05em;
    --luke2327-letterSpacings-widest: 0.1em;
    -webkit---luke2327-lineHeights-3: .75rem;
    --luke2327-lineHeights-3: .75rem;
    -webkit---luke2327-lineHeights-4: 1rem;
    --luke2327-lineHeights-4: 1rem;
    -webkit---luke2327-lineHeights-5: 1.25rem;
    --luke2327-lineHeights-5: 1.25rem;
    -webkit---luke2327-lineHeights-6: 1.5rem;
    --luke2327-lineHeights-6: 1.5rem;
    -webkit---luke2327-lineHeights-7: 1.75rem;
    --luke2327-lineHeights-7: 1.75rem;
    -webkit---luke2327-lineHeights-8: 2rem;
    --luke2327-lineHeights-8: 2rem;
    -webkit---luke2327-lineHeights-9: 2.25rem;
    --luke2327-lineHeights-9: 2.25rem;
    --luke2327-lineHeights-10: 2.5rem;
    --luke2327-lineHeights-normal: normal;
    --luke2327-lineHeights-none: 1;
    --luke2327-lineHeights-shorter: 1.25;
    --luke2327-lineHeights-short: 1.2;
    --luke2327-lineHeights-base: 1.5;
    --luke2327-lineHeights-tall: 1.625;
    --luke2327-lineHeights-taller: 2;
    --luke2327-radii-none: 0;
    --luke2327-radii-sm: 0.125rem;
    --luke2327-radii-base: 0.25rem;
    --luke2327-radii-md: 0.375rem;
    --luke2327-radii-lg: 0.5rem;
    --luke2327-radii-xl: 0.75rem;
    --luke2327-radii-2xl: 1rem;
    --luke2327-radii-3xl: 1.5rem;
    --luke2327-radii-full: 9999px;
    --luke2327-space-1: 0.25rem;
    --luke2327-space-2: 0.5rem;
    --luke2327-space-3: 0.75rem;
    --luke2327-space-4: 1rem;
    --luke2327-space-5: 1.25rem;
    --luke2327-space-6: 1.5rem;
    --luke2327-space-7: 1.75rem;
    --luke2327-space-8: 2rem;
    --luke2327-space-9: 2.25rem;
    --luke2327-space-10: 2.5rem;
    --luke2327-space-12: 3rem;
    --luke2327-space-14: 3.5rem;
    --luke2327-space-16: 4rem;
    --luke2327-space-20: 5rem;
    --luke2327-space-24: 6rem;
    --luke2327-space-28: 7rem;
    --luke2327-space-32: 8rem;
    --luke2327-space-36: 9rem;
    --luke2327-space-40: 10rem;
    --luke2327-space-44: 11rem;
    --luke2327-space-48: 12rem;
    --luke2327-space-52: 13rem;
    --luke2327-space-56: 14rem;
    --luke2327-space-60: 15rem;
    --luke2327-space-64: 16rem;
    --luke2327-space-72: 18rem;
    --luke2327-space-80: 20rem;
    --luke2327-space-96: 24rem;
    --luke2327-space-px: 1px;
    --luke2327-space-0-5: 0.125rem;
    --luke2327-space-1-5: 0.375rem;
    --luke2327-space-2-5: 0.625rem;
    --luke2327-space-3-5: 0.875rem;
    --luke2327-space-fluid-xs: clamp(12px, calc(10.18px + 0.48vw), 16px);
    --luke2327-space-fluid-sm: clamp(16px, calc(10.55px + 1.45vw), 28px);
    --luke2327-space-fluid-md: clamp(16px, calc(5.09px + 2.91vw), 40px);
    --luke2327-space-fluid-lg: clamp(24px, calc(5.82px + 4.85vw), 64px);
    --luke2327-space-fluid-xl: clamp(32px, calc(2.91px + 7.76vw), 96px);
    --luke2327-shadows-xs: 0 0 0 1px rgba(0, 0, 0, 0.05);
    --luke2327-shadows-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    --luke2327-shadows-base: 0 1px 3px 0 rgba(0, 0, 0, 0.1),0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --luke2327-shadows-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --luke2327-shadows-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --luke2327-shadows-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1),0 10px 10px -5px rgba(0, 0, 0, 0.04);
    --luke2327-shadows-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    --luke2327-shadows-outline: 0 0 0 3px rgba(66, 153, 225, 0.6);
    -webkit---luke2327-shadows-inner: inset 0 2px 4px 0 rgba(0,0,0,0.06);
    --luke2327-shadows-inner: inset 0 2px 4px 0 rgba(0,0,0,0.06);
    --luke2327-shadows-none: none;
    --luke2327-shadows-dark-lg: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px,rgba(0, 0, 0, 0.2) 0px 5px 10px,rgba(0, 0, 0, 0.4) 0px 15px 40px;
    --luke2327-sizes-1: 0.25rem;
    --luke2327-sizes-2: 0.5rem;
    --luke2327-sizes-3: 0.75rem;
    --luke2327-sizes-4: 1rem;
    --luke2327-sizes-5: 1.25rem;
    --luke2327-sizes-6: 1.5rem;
    --luke2327-sizes-7: 1.75rem;
    --luke2327-sizes-8: 2rem;
    --luke2327-sizes-9: 2.25rem;
    --luke2327-sizes-10: 2.5rem;
    --luke2327-sizes-12: 3rem;
    --luke2327-sizes-14: 3.5rem;
    --luke2327-sizes-16: 4rem;
    --luke2327-sizes-20: 5rem;
    --luke2327-sizes-24: 6rem;
    --luke2327-sizes-28: 7rem;
    --luke2327-sizes-32: 8rem;
    --luke2327-sizes-36: 9rem;
    --luke2327-sizes-40: 10rem;
    --luke2327-sizes-44: 11rem;
    --luke2327-sizes-48: 12rem;
    --luke2327-sizes-52: 13rem;
    --luke2327-sizes-56: 14rem;
    --luke2327-sizes-60: 15rem;
    --luke2327-sizes-64: 16rem;
    --luke2327-sizes-72: 18rem;
    --luke2327-sizes-80: 20rem;
    --luke2327-sizes-96: 24rem;
    --luke2327-sizes-px: 1px;
    --luke2327-sizes-0-5: 0.125rem;
    --luke2327-sizes-1-5: 0.375rem;
    --luke2327-sizes-2-5: 0.625rem;
    --luke2327-sizes-3-5: 0.875rem;
    --luke2327-sizes-max: max-content;
    --luke2327-sizes-min: min-content;
    --luke2327-sizes-full: 100%;
    --luke2327-sizes-3xs: 14rem;
    --luke2327-sizes-2xs: 16rem;
    --luke2327-sizes-xs: 20rem;
    --luke2327-sizes-sm: 24rem;
    --luke2327-sizes-md: 28rem;
    --luke2327-sizes-lg: 32rem;
    --luke2327-sizes-xl: 36rem;
    --luke2327-sizes-2xl: 42rem;
    --luke2327-sizes-3xl: 48rem;
    --luke2327-sizes-4xl: 56rem;
    --luke2327-sizes-5xl: 64rem;
    --luke2327-sizes-6xl: 72rem;
    --luke2327-sizes-7xl: 80rem;
    --luke2327-sizes-8xl: 90rem;
    --luke2327-sizes-container-sm: 640px;
    --luke2327-sizes-container-md: 768px;
    --luke2327-sizes-container-lg: 1024px;
    --luke2327-sizes-container-xl: 1280px;
    --luke2327-transition-property-common: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
    --luke2327-transition-property-colors: background-color,border-color,color,fill,stroke;
    --luke2327-transition-property-dimensions: width,height;
    --luke2327-transition-property-position: left,right,top,bottom;
    --luke2327-transition-property-background: background-color,background-image,background-position;
    --luke2327-transition-easing-ease-in: cubic-bezier(0.4, 0, 1, 1);
    --luke2327-transition-easing-ease-out: cubic-bezier(0, 0, 0.2, 1);
    --luke2327-transition-easing-ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
    --luke2327-transition-duration-ultra-fast: 50ms;
    --luke2327-transition-duration-faster: 100ms;
    --luke2327-transition-duration-fast: 150ms;
    --luke2327-transition-duration-normal: 200ms;
    --luke2327-transition-duration-slow: 300ms;
    --luke2327-transition-duration-slower: 400ms;
    --luke2327-transition-duration-ultra-slow: 500ms;

}
